:root {
  --primary-color: #F9F7FE;
  --secondary-color: #6C63FF;
  --primary-heading-font: "Playfair Display", serif;
  --secondary-heading-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-heading-font)
}

h1 {
  font-size: 96px;
  margin: 0;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--secondary-heading-font);
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 140px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--secondary-heading-font);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.about-section-container {
  padding: 140px 20px;
  text-align: center;
}

.about-section h1 {
  font-size: 64px;
  line-height: 1.5;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--primary-heading-font);
}

.about-section-content p {
  font-size: 14px;
  margin: 30px;
}

.content-container {
  padding: 140px 20px;
  text-align: center;
}

.content h1 {
  font-size: 64px;
  line-height: 1.5;
}

.content h2 {
  font-size: 18px;
  font-family: var(--primary-heading-font);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--primary-heading-font);
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  line-height: 27px;
  padding: 12px 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 15px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.project-description {
  padding: 75px 60px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
  color: var(--secondary-color);
}

footer {
  margin: 60px 0;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px;
  border-radius: 10px;
}

footer .email-link {
text-decoration: none;
color: black;
font-size: 24px;
text-align: center;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .hero {
    padding: 80px 20px;
  }
}